/* game board table */

#game, #button, #message, #p1-input, #p2-input{
  display: flex;
  justify-content: center;
}

#button{
  margin-top: 2rem;
}

#start-button{
  height: 3rem;
  width: 10rem;
  padding: 0;
  border: 2px solid black;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

#p1-input, #p2-input{
  margin-top: 1rem;
}

.hide{
  visibility: hidden;
}

#p1-color, #p2-color{
  height: 2rem;
  width: 15rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  font-size: 1rem;
  text-align: center;
}

#message{
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 700;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  color: white;
}

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
  color: black;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}
